<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title>Cheese Master</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body class="h-100">
	<div class="wrapper d-flex flex-column h-100">
		<div layout:replace="fragments/anonymousHeader :: anonymousHeader"></div>
		<div layout:fragment="content"></div>
		<div layout:replace="fragments/footer :: footer"></div>
	</div>
</body>

</html>