<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<title>Cheese Master</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
	<h1 th:inline="text">
		Hello <span th:remove="tag" sec:authentication="name">thymeleaf</span>!
	</h1>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out" />
	</form>

	<div class="container">
		<div>
			<label>Name:</label> <span th:text="${cheese.getName()}"></span>
		</div>
		<div>
			<label>Country:</label> <span th:text="${cheese.getCountry()}"></span>
		</div>
	</div>
</body>
</html>