<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<title>Cheese Master</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
	<h1 th:inline="text">
		Hello <span th:remove="tag" sec:authentication="name">thymeleaf</span>!
	</h1>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out" />
	</form>

	<div class="container">
		<a class="btn btn-primary" th:href="@{/cheese/add}">Add cheese</a>

		<table class="table">
			<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Country</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>

			<tbody th:each="cheese: ${cheeses}">
				<tr>
					<th><a th:href="@{/cheese/{id}(id=${cheese.getId()})}"
						th:text="${cheese.getName()}"></a></th>
					<td><span th:text="${cheese.getCountry()}"></span></td>
					<td><a th:href="@{/cheese/update/{id}(id=${cheese.getId()})}">Update</a>
						<a th:href="@{/cheese/delete/{id}(id=${cheese.getId()})}">Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>