<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<title>Cheese Master</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
	<h1 th:inline="text">
		Hello <span th:remove="tag" sec:authentication="name">thymeleaf</span>!
	</h1>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out" />
	</form>

	<div class="container">
		<form th:method="post"
			th:action="@{/cheese/update/{id}(id=${cheese.id})}"
			th:object="${cheese}">
			<div>
				<label for="name">Name</label> <input type="text" th:field="*{name}"
					id="name" placeholder="Name"> <span
					th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
			</div>
			<div>
				<label for="country">Country</label> <input type="text"
					th:field="*{country}" id="email" placeholder="Country"> <span
					th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></span>
			</div>
			<input class="btn btn-primary" type="submit" value="Save">
			<a class="btn btn-secondary" th:href="@{/cheese}">Cancel</a>
		</form>
	</div>
</body>
</html>